<%- include("header") %>
    <div class="box" id="heading">
      <h1>Menu Card</h1>
    </div>
    <div class="box" id="heading">
      <h1><%=listTitle%></h1>
    </div>
    <div class="box">
      <% for(var i=0;i<addedItems.length;i++){ %>
        <div class="item">
          <input type="checkbox">
          <p><%=addedItems[i]%></p>
        </div>

      <%  } %>
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="Add new..!" autocomplete="off" required>
        <button class="btn" type="submit" name="list" value=<%=listTitle%>>+</button>
      </form>
      <form class="item" action="/about" method="post">
        <button class="btnn" type="submit" name="order">submit</button>
      </form>

    </div>



  <%- include("footer") %>
